* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

.hidden {
	display: none;
}

section {
	margin-top: 10px;
}

form {
	display: block;
	width: 100%;
}

fieldset {
	margin: 0;
	padding: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	border: 0;
}

#search-form legend {
	font-size: 72px;
	line-height: 1;
	color: #fff;
	padding-bottom: 15px;
}

#search-form {
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#search-form input {
	border: none;
	border-bottom: 3px solid ghostwhite;
	border-radius: 0px;
	padding: 8px 0;
	color: beige;
	-webkit-font-smoothing: antialiased;
	font-size: 45px;
	background: rgba(255, 255, 255, 0.25);
	width: 540px;
	text-align: center;
}

#search-form button {
	border: 3px solid ghostwhite;
	padding: 8px 13px;
	color: ghostwhite;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 2px;
	background: rgba(255, 255, 255, 0.25);
	transition: color 0.25s linear;
	text-shadow: 0 0 3px #555555;
	position: relative;
	left: -3px;
	border-radius: 0;
}

#search-form .inner-form button:hover {
	color: orangered;
}

/* Yelp */
#yelp-form {
	display: flex;
	justify-content: center;
}

.yelp-handler img {
	height: 100px;
	width: 100px;
}

#yelp-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.yelp-card {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(35px, auto);
	grid-gap: 3px;
	max-width: 550px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5%;
	margin: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	grid-template-areas:
		'y-img y-img y-img y-img y-img y-name y-name y-name y-name y-name'
		'y-img y-img y-img y-img y-img y-cat y-cat y-cat y-cat y-cat'
		'y-img y-img y-img y-img y-img y-num y-num y-num y-num y-num'
		'y-img y-img y-img y-img y-img y-loc y-loc y-loc . .'
		'y-img y-img y-img y-img y-img y-loc y-loc y-loc . .'
		'y-img y-img y-img y-img y-img y-stars y-stars y-stars y-logo y-logo'
		'y-img y-img y-img y-img y-img y-rev y-rev y-rev y-logo y-logo';
}

.y-img {
	grid-area: y-img;
}

.y-img img,
.y-logo img {
	width: 100%;
	height: 100%;
	border-radius: 4%;
}

.y-name {
	grid-area: y-name;
}

.y-cat {
	grid-area: y-cat;
}

.y-loc {
	grid-area: y-loc;
}

.y-num {
	grid-area: y-num;
}

.y-stars {
	grid-area: y-stars;
}
.y-rev {
	grid-area: y-rev;
	font-size: 12px;
}

.y-logo {
	grid-area: y-logo;
}

/* News Section */
#news-section {
	display: flex;
}

#news-section h2 {
	align-self: center;
	text-align: center;
}

.news-card {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: 40px;
	grid-gap: 5px;
	max-width: 550px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5%;
	margin: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	grid-template-areas:
		'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
		'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
		'n-img n-img n-img n-img n-source n-source n-source n-source n-source'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc';
}

.n-img {
	grid-area: n-img;
}

.n-img img {
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

#news-section .n-name {
	grid-area: n-name;
	text-align: left;
}

.n-source {
	grid-area: n-source;
}

.n-desc {
	grid-area: n-desc;
}

/* Weather Section */
#weather-section {
	display: flex;
	width: 100%;
	height: 8vh;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0;
}

#weather-section h2 {
	font-size: 32px;
	text-transform: uppercase;
}

#weather-section h4 {
	font-size: 22px;
	margin-top: 1px;
}

footer {
	margin-top: 20px;
	text-align: center;
}

@media screen and (min-width: 1050px) {
	/* .api-sections {
		margin-top: 10px;
		display: flex;
		align-items: baseline;
		justify-content: space-evenly;
	} */
}
