* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

.hidden {
	display: none;
}

body {
	background-image: linear-gradient(
		to bottom,
		#f443e5,
		#a789ff,
		#1cb2ff,
		#00cdff,
		#00dfff,
		#1ce9f8,
		#41f3ee,
		#63fbe3,
		#8efecf,
		#b3ffbd,
		#d6ffb1,
		#f7ffac
	);
	background-repeat: no-repeat;
}

section {
	margin-top: 10px;
}

form {
	display: block;
	width: 100%;
}

fieldset {
	margin: 0;
	padding: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	border: 0;
}

#search-form legend {
	margin-top: 5px;
	font-size: 2em;
	line-height: 1;
	color: #fff;
	padding-bottom: 15px;
}

#search-form {
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#search-form input {
	border: none;
	border-bottom: 3px solid ghostwhite;
	border-radius: 0px;
	padding: 8px 0;
	color: beige;
	-webkit-font-smoothing: antialiased;
	font-size: 2em;
	background: rgba(255, 255, 255, 0.25);
	width: 100%;
	text-align: center;
}

#search-form button {
	border: 3px solid ghostwhite;
	padding: 8px 13px;
	color: ghostwhite;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 2px;
	background: rgba(255, 255, 255, 0.25);
	transition: color 0.25s linear;
	text-shadow: 0 0 3px #555555;
	border-radius: 0;
	margin-bottom: 10px;
}

/* Weather Section */
#weather-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	grid-gap: 3px;
}

#weather-section h2 {
	font-size: 22px;
	text-transform: uppercase;
}

#weather-section h4 {
	font-size: 18px;
	margin-top: 1px;
	text-transform: uppercase;
}

/* Yelp */
#yelp-form {
	display: flex;
	justify-content: center;
}

.yelp-handler img {
	height: 100px;
	width: 100px;
}

#yelp-section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.yelp-card {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(35px, auto);
	grid-gap: 3px;
	max-width: 550px;
	height: 175px;
	margin: 5px auto;
	border: 1px solid black;
	border-radius: 5%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	grid-template-areas:
		'y-img y-img y-img y-img y-img y-name y-name y-name y-name y-name'
		'y-img y-img y-img y-img y-img  y-logo y-logo . . . '
		'y-img y-img y-img y-img y-img y-stars y-stars y-stars y-stars y-stars'
		'y-img y-img y-img y-img y-img y-rev y-rev y-rev y-rev y-rev';
}

.y-img {
	grid-area: y-img;
}

.y-logo img {
	width: 95%;
	height: 85%;
	border-radius: 4%;
}

.y-img img {
	width: 175px;
	height: 175px;
	border: 1px solid black;
	border-radius: 4%;
}

.yelp-card h2 {
	font-size: 16px;
}

.y-name {
	grid-area: y-name;
}

.y-cat {
	grid-area: y-cat;
	display: none;
}

.y-loc {
	grid-area: y-loc;
	display: none;
}

.y-num {
	grid-area: y-num;
	display: none;
}

.y-stars {
	grid-area: y-stars;
}
.y-rev {
	grid-area: y-rev;
	font-size: 12px;
}

.y-logo {
	grid-area: y-logo;
}

.y-center {
	text-align: center;
	margin: auto 0;
}

/* News Section */
#news-section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 5px;
}

#news-section h2 {
	align-self: center;
	text-align: center;
	font-size: 16px;
}

#news-section p {
	font-size: 12px;
}

.news-card {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: 40px;
	grid-gap: 5px;
	max-width: 550px;
	height: 175px;
	border: 1px solid black;
	border-radius: 5%;
	margin: 5px auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	grid-template-areas:
		'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
		'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
		'n-img n-img n-img n-img n-source n-source n-source n-source n-source'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
		'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc';
}

.n-img {
	grid-area: n-img;
}

.n-img img {
	width: 100%;
	height: 175px;
	border: 1px solid black;
	border-radius: 4%;
}

#news-section .n-name {
	grid-area: n-name;
	text-align: left;
}

.n-source {
	grid-area: n-source;
}

.n-desc {
	grid-area: n-desc;
	display: none;
}

footer {
	margin-top: 20px;
	text-align: center;
}

@media screen and (min-width: 500px) {
	.news-card,
	.yelp-card,
	.news-card img,
	.y-img img {
		width: 100%;
		height: 275px;
	}

	.yelp-card {
		grid-template-areas:
			'y-img y-img y-img y-img y-img y-name y-name y-name y-name y-name'
			'y-img y-img y-img y-img y-img y-cat y-cat y-cat y-cat y-cat'
			'y-img y-img y-img y-img y-img y-num y-num y-num y-num y-num'
			'y-img y-img y-img y-img y-img y-stars y-stars y-stars y-logo y-logo'
			'y-img y-img y-img y-img y-img y-rev y-rev y-rev y-logo y-logo';
	}

	.n-desc,
	.y-num,
	.y-cat {
		display: block;
	}
}

@media screen and (min-width: 600px) {
	#search-form legend {
		margin-top: 20px;
		font-size: 4em;
	}
	#search-form input,
	#search-form button {
		font-size: 3em;
		width: 540px;
	}
}

@media screen and (min-width: 805px) {
	#weather-section {
		display: flex;
		width: 100%;
		height: 8vh;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 0;
	}
	#weather-section h2 {
		font-size: 30px;
	}

	#weather-section h4 {
		font-size: 22px;
	}

	#news-section h2,
	#yelp-section h2 {
		font-size: 18px;
	}

	#news-section p,
	#yelp-section p {
		font-size: 14px;
	}
	#news-section,
	#yelp-section {
		grid-template-columns: repeat(2, 1fr);
	}

	.y-loc {
		display: block;
	}

	.yelp-card {
		max-width: 400px;
		grid-template-areas:
			'y-img y-img y-img y-img y-img y-name y-name y-name y-name y-name'
			'y-img y-img y-img y-img y-img y-cat y-cat y-cat y-cat y-cat'
			'y-img y-img y-img y-img y-img y-num y-num y-num y-num y-num'
			'y-img y-img y-img y-img y-img y-loc y-loc y-loc . .'
			'y-img y-img y-img y-img y-img y-loc y-loc y-loc . .'
			'y-img y-img y-img y-img y-img y-stars y-stars y-stars y-logo y-logo'
			'y-img y-img y-img y-img y-img y-rev y-rev y-rev y-logo y-logo';
	}

	.news-card {
		max-width: 400px;
		grid-template-areas:
			'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
			'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
			'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
			'n-img n-img n-img n-img n-source n-source n-source n-source n-source'
			'n-img n-img n-img n-img n-source n-source n-source n-source n-source';
	}

	.n-desc {
		display: none;
	}
}

@media screen and (min-width: 902px) {
	#news-section h2,
	#yelp-section h2 {
		font-size: 20px;
	}

	#news-section p,
	#yelp-section p {
		font-size: 14px;
	}

	.yelp-card {
		max-width: 450px;
	}
	.news-card {
		margin: 5px auto;
		max-height: 375px;
		max-width: 450px;
		grid-template-areas:
			'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
			'n-img n-img n-img n-img n-name n-name n-name n-name n-name'
			'n-img n-img n-img n-img n-source n-source n-source n-source n-source'
			'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
			'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc'
			'n-img n-img n-img n-img n-desc n-desc n-desc n-desc n-desc';
	}

	.n-img img {
		max-height: 375px;
	}

	.n-desc {
		display: block;
	}
}

@media screen and (min-width: 1400px) {
	#news-section,
	#yelp-section {
		grid-template-columns: repeat(3, 1fr);
	}
}
